

$primary-color: #1fccba; 
$secondary-color: #ff80d5;



html{
	font-size: 16px;
	height: 100%;
}

body{
	background-size: 100% auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $primary-color;
}

h1{
	font-size: 3rem;
	margin: 5rem auto;
	color: white;
}

.maincontent{
	width: 100%;
	align-items: center;
	background-color: white;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

button{
	margin: 2rem 4rem;
	background-color: $secondary-color;
	border: none;
	color: white;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 4px;
	&:hover{
		background-color: lightgrey;
	}
}

#map{
	height: 15rem;
	width: 100%;
}